<html>

<head>
  <title>My First HTML</title>
  <meta charset="UTF-8">
</head>

<body>

<header>
<h1><b>RAILS TUTORIAL</b></h1>
<%= link_to image_tag("Rails.png", size: "400x200"), 'http://www.mashrurhossain.com' %>
</header>

<table>
  <tr>
    <td align="left"><font color="blue"><b><%= link_to 'Home', root_path %></b></font></td>
    <td align="right"><font color="blue"><b>About</b></font></td>
  </tr>

</table>

<footer></footer>
</body>

</html>