<html>

<head>
  <title>My First HTML</title>
  <meta charset="UTF-8">
</head>

<body>

<header>
<h1><b>RAILS TUTORIAL</b></h1>
<%= link_to image_tag("Rails.png", size: "400x200"), 'http://www.mashrurhossain.com' %>
</header>

<table>
  <tr>
    <td align="left"><font color="blue"><b>Home</b></font></td>    
    <td align="left"><font color="blue"><b><%= link_to 'AlphaBlog', articles_path %> | <%= link_to 'About', about_path %></b></font></td>
  </tr>
	<tr>
		<td>
			<h3>My First Heading</h3>
			<p>Maecenas venenatis lectus vitae lacus vulputate, rhoncus lacinia tellus malesuada. Suspendisse tincidunt faucibus lacus, sed iaculis mauris. Suspendisse potenti. Duis et leo vel ligula porta porta. Aliquam et felis eget ante ornare consectetur at tempor lacus.</p>
		</td>

		<td>
			<h3>My Second Heading</h3>
			<p>Maecenas venenatis lectus vitae lacus vulputate, rhoncus lacinia tellus malesuada. Suspendisse tincidunt faucibus lacus, sed iaculis mauris. Suspendisse potenti. Duis et leo vel ligula porta porta. Aliquam et felis eget ante ornare consectetur at tempor lacus.</p>
		</td> 
  </tr>
</table>

<footer></footer>
</body>

</html>